<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/icon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  <script src="http://l_geosearch_master/js/l.control.geosearch.js"></script>
  <script src="http://l_geosearch_master/js/l.geosearch.provider.openstreetmap.js"></script>
  <link rel="stylesheet" href="http://l_geosearch_master/css/l.geosearch.css" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('index') }}">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
    REID
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('query') }}">Query<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('galery') }}">Galery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('reid') }}">Result</a>
      </li>
    </ul>
  </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>
