{% extends 'base.html' %}
{% block title %} Обнаруженные с камеры {% endblock %}
{% block content %}
  <button class="btn btn-info"><a href="{{ url_for('detected_to_query', id=id, cluster=cluster) }}">Переместить изображения в запросы</a>
  </button>
    <br>
  <button class="btn btn-info"><a href="{{ url_for('detected_to_galery', id=id, cluster=cluster) }}">Переместить изображения в галерею</a>
  </button>
    <br>
  <div class="row justify-content-center">
    {% for image in image_catalog %}
      <img class="m-2" src="{{ url_for('static', filename=image) }}" alt="{{ image }}">
    {% endfor %}
  </div>
{% endblock %}
